/* Empty. Add your own CSS if you like */
.item.item-button-right.item-avatar{
	padding-right: 0px; 
}

.item.item-button-right.item-avatar button{
	width:70px;
	text-align: center;
	margin-top: 13px;
}


.button.button-balanced.inactive{
	background-color: grey;	
}

ion-content {
	background-color: rgb(243,243,243);
}

.item{
	background-color: rgb(243,243,243) !important;
}

.item-input-wrapper{
	background-color: white !important;
	color: white!important;
}